#include ".Xresources.d/colorscheme"
#include ".Xresources.d/dwm"
#include ".Xresources.d/st"
#include ".Xresources.d/dmenu"
#include ".Xresources.d/rxvt-unicode"
#include ".Xresources.d/xterm"

Xft.dpi: 140
