! Colorscheme ayu

! Special

*.foreground:   #bfbab0
*.background:   [95]#1f2430
*.cursorColor:  #ffcc66

! Black

*.color0:       #1f2430
*.color8:       #292b30

! Red

*.color1:       #ff3333
*.color9:       #ff6666

! Green

*.color2:       #bae67e
*.color10:      #cee6ac

! Yellow

*.color3:       #ffd580
*.color11:      #ffe6b3

! Blue

*.color4:       #73d0ff
*.color12:      #a6e1ff

! Magenta

*.color5:       #f28779
*.color13:      #ffd6da

! Cyan

*.color6:       #95e6cb
*.color14:      #ffffff

! White

*.color7:       #ffffff
*.color15:      #ffffff


! Bold, Italic, Underline

*.colorBD:     #e6e1cf
!*.colorIT:
!*.colorUL:


!! URxvt Appearance
urxvt.font: xft:Monocraft:pixelsize=12
!URxvt.boldFont: -*-rissole-*
!URxvt.italicFont: -*-rissole-*
!URxvt.boldItalicfont: -*-rissole-*
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt*perl-lib: ~/.urxvt/ext/
URxvt.perl-ext: default:clipboard:url-select:keyboard-select:resize-font
URxvt.keysym.C-h: resize-font:smaller
URxvt.keysym.C-j: resize-font:bigger
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

!!DWM COLORS

!dwm.font: miracode:pixelsize=14           
!dwm.dmenufont: iracode:pixelsize=10        
dwm.normbgcolor: #1f2430
dwm.normbordercolor: #292b30
dwm.normfgcolor: #bfbab0
dwm.selbgcolor: #1f2430
dwm.selbordercolor:#ff6666

dwm.selfgcolor: #ffd580
dwm.borderpx: 4          	
dwm.snap: 32         	
dwm.showbar: 1         	
dwm.topbar: 1         	
dwm.nmaster: 1         	
dwm.resizehints: 1       	
dwm.mfact: 0.55     	
